.Bd{
    border: solid 1px #145e86;
    flex-grow: 1;
}
.C\(red\){
    color: red;
}
.C\(gray\){
    color: gray;
}
.Bdc\(red\){
    border-color: red !important;
}
.P\(0\) {
    padding: 0;
}
.P\(10px\) {
    padding: 10px;
}
.TextCenterBold{
    text-align: center;
    font-weight: bold;
}
.Flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
